@charset "UTF-8";
@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("../fonts/SourceSansPro-Semibold.otf");
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro-Bold.otf");
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/SourceSansPro-Light.otf");
}

body {
  background: #f7f6f3;
  font-size: 14px;
  color: #939393;
  font-family: 'SourceSansPro-Regular';
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.header .header-nav {
  background: #ffffff;
  padding: 40px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .header-nav .logo h2 {
  text-transform: uppercase;
  font-size: 45px;
}

.header .header-nav .logo h2 a {
  color: #736F72;
}

.header .header-nav .logo h2 a span {
  color: #FFC000;
}

.header .header-nav .header-menu .burger {
  display: none;
}

.header .header-nav .header-menu .menu {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  right: 30px;
}

.header .header-nav .header-menu .menu a {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'SourceSansPro-Semibold';
  font-size: 16px;
  padding: 25px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  background: #FFC000;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-nav .header-menu .menu a:hover {
  background: #736F72;
}

.header .header-nav .header-menu .menu a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  background: #ffffff;
  height: 100%;
}

.header .header-nav .header-menu .menu a:last-of-type::before {
  display: none;
}

.info {
  background: url(../img/info/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 810px;
  margin: auto;
}

.info .title h1 {
  color: #ffffff;
  font-family: 'SourceSansPro-Bold';
  font-size: 75px;
  line-height: 1.1;
}

.info .title .btn {
  margin-top: 40px;
}

.info .title .btn button {
  text-transform: uppercase;
  background: #736f72;
  color: #ffffff;
  width: 195px;
  height: 55px;
  font-family: 'SourceSansPro-Bold';
  font-size: 22px;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
  z-index: 1;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  position: relative;
  overflow: hidden;
}

.info .title .btn button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.info .title .btn button:hover {
  color: #736f72;
}

.info .title .btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: -1;
}

.block-main {
  position: relative;
  z-index: 1;
}

.block-main .block-main-wrap {
  background: #ffffff;
  padding: 40px 15px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -40px 0;
}

.block-main .block-main-wrap .sidebar {
  width: 25%;
  padding: 0 15px;
}

.block-main .block-main-wrap .sidebar .box .title h4 {
  font-family: 'SourceSansPro-Bold';
  background: #ffc000;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 10px 25px;
  line-height: 1.1;
}

.block-main .block-main-wrap .sidebar .box .title p {
  margin-top: 20px;
  font-family: 'SourceSansPro-Semibold';
  font-size: 18px;
  color: #898688;
  line-height: 1.1;
}

.block-main .block-main-wrap .sidebar .box .links {
  margin-top: 20px;
  margin-bottom: 30px;
}

.block-main .block-main-wrap .sidebar .box .links a {
  display: block;
  color: #8b8b8b;
  font-size: 16px;
  padding: 8px 0;
  border-bottom: 1px dashed #8b8b8b;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  position: relative;
  padding-left: 10px;
}

.block-main .block-main-wrap .sidebar .box .links a::before {
  content: '';
  font-family: 'fa-solid-900';
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffc000;
}

.block-main .block-main-wrap .sidebar .box .links a:hover {
  color: #ffc000;
}

.block-main .block-main-wrap .sidebar .box h4 {
  font-family: 'SourceSansPro-Bold';
  background: #ffc000;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 25px;
  line-height: 1.1;
}

.block-main .block-main-wrap .sidebar .box img {
  width: 100%;
}

.block-main .block-main-wrap .sidebar .box p {
  margin-top: 15px;
  line-height: 1.8em;
}

.block-main .block-main-wrap .sidebar .box a {
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #ffc000;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .sidebar .box a:hover {
  text-decoration: underline;
}

.block-main .block-main-wrap .sidebar .box a .fas {
  font-family: 'fa-solid-900';
  color: #736F72;
  margin-right: 5px;
}

.block-main .block-main-wrap .main {
  width: 66.6%;
  padding: 0 15px;
}

.block-main .block-main-wrap .main .main-title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

.block-main .block-main-wrap .main .main-title .title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}

.block-main .block-main-wrap .main .main-title .title h5 {
  font-size: 24px;
}

.block-main .block-main-wrap .main .main-title .title h5 a {
  color: #736F72;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .main .main-title .title h5 a:hover {
  color: #ffc000;
}

.block-main .block-main-wrap .main .main-title .title h6 {
  font-size: 22px;
  color: #ffc000;
  font-family: 'SourceSansPro-Light';
  font-weight: lighter;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block p {
  margin-bottom: 15px;
  line-height: 1.8em;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block a {
  display: inline-block;
  font-size: 15px;
  color: #ffc000;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block a:hover {
  text-decoration: underline;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block a .fas {
  font-family: 'fa-solid-900';
  color: #736F72;
  margin-right: 5px;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .left {
  width: 40%;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .right {
  width: 60%;
}

.block-main .block-main-wrap .main .main-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-main .block-main-wrap .main .main-footer-wrap .block {
  width: 47%;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .icon .fas {
  font-family: 'fa-solid-900';
  width: 50px;
  height: 45px;
  background: #736F72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffc000;
  font-size: 25px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc {
  margin-left: 10px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h5 {
  font-size: 24px;
  line-height: 1.1;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h5 a {
  color: #736F72;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h5 a:hover {
  color: #ffc000;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h6 {
  margin-top: 10px;
  color: #ffc000;
  font-size: 22px;
  font-family: 'SourceSansPro-Light';
  font-weight: lighter;
  line-height: 1.1;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content {
  margin-top: 25px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content img {
  width: 100%;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content p {
  margin-top: 15px;
  line-height: 1.8em;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content a {
  display: inline-block;
  font-size: 15px;
  color: #ffc000;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  margin-top: 15px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content a:hover {
  text-decoration: underline;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content a .fas {
  font-family: 'fa-solid-900';
  color: #736F72;
  margin-right: 5px;
}

.info-about {
  background: url(../img/block-about/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 150px;
}

.block-about {
  position: relative;
  z-index: 1;
}

.block-about .block-about-wrap {
  background: #ffffff;
  padding: 40px 30px 80px;
  margin: -40px 0;
}

.block-about .block-about-wrap .title {
  text-align: center;
  margin-bottom: 25px;
}

.block-about .block-about-wrap .title h5 {
  font-size: 49px;
  font-family: 'SourceSansPro-Semibold';
  color: #736f72;
}

.block-about .block-about-wrap .block {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-about .block-about-wrap .block .img {
  width: 33%;
}

.block-about .block-about-wrap .block .img img {
  width: calc(100% - 30px);
}

.block-about .block-about-wrap .block .content {
  width: 66%;
}

.block-about .block-about-wrap .block .content h5 {
  font-size: 28px;
  color: #ffc000;
  font-family: 'SourceSansPro-Semibold';
}

.block-about .block-about-wrap .block .content p {
  margin-top: 15px;
  font-family: 'SourceSansPro-Light';
  color: #999999;
  line-height: 1.8em;
}

.block-about .block-about-wrap .block .content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  color: #fff;
  background: #ffc000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-size: 16px;
  width: 125px;
  height: 35px;
}

.block-about .block-about-wrap .block .content a:hover {
  background: #736f72;
}

.info-services {
  background: url(../img/block-services/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 150px;
}

.block-services {
  position: relative;
  z-index: 1;
}

.block-services .block-services-wrap {
  background: #ffffff;
  padding: 40px 30px 115px;
  margin: -40px 0;
}

.block-services .block-services-wrap .title {
  text-align: center;
}

.block-services .block-services-wrap .title h5 {
  font-size: 49px;
  font-family: 'SourceSansPro-Semibold';
  color: #736f72;
}

.block-services .block-services-wrap .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-services .block-services-wrap .block .card {
  width: 23%;
  overflow: hidden;
}

.block-services .block-services-wrap .block .card .img {
  width: 100%;
  height: 175px;
  position: relative;
}

.block-services .block-services-wrap .block .card .img:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.block-services .block-services-wrap .block .card .img img {
  width: 100%;
  height: 100%;
}

.block-services .block-services-wrap .block .card .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 192, 0, 0.51);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-services .block-services-wrap .block .card .img .overlay a {
  cursor: pointer;
  display: inline-block;
  background: url(../img/block-services/zoom.png) no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.block-services .block-services-wrap .block .card .content {
  margin-top: 20px;
}

.block-services .block-services-wrap .block .card .content h5 {
  color: #ffc000;
  font-size: 21px;
  line-height: 1.1;
}

.block-services .block-services-wrap .block .card .content p {
  margin-top: 20px;
  color: #979797;
  line-height: 1.5em;
}

.block-services .block-services-wrap .block-top {
  margin-top: 70px;
}

.block-services .block-services-wrap .block-bottom {
  margin-top: 75px;
}

.info-error {
  background: url(../img/block-error/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 150px;
}

.block-error {
  position: relative;
  z-index: 1;
}

.block-error .title {
  background: #ffffff;
  padding: 360px 15px;
  margin: -40px 0;
  text-align: center;
}

.block-error .title h2 {
  text-transform: uppercase;
  color: #ffc000;
  font-size: 252px;
  font-family: 'SourceSansPro-Semibold';
  line-height: 1.1;
}

.block-error .title p {
  text-transform: uppercase;
  font-size: 20px;
  color: #4f4844;
}

.block-error .title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto 0;
  background: #736f72;
  color: #ffffff;
  width: 165px;
  height: 40px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-size: 14px;
}

.block-error .title a:hover {
  background: #ffc000;
}

.info-contact {
  background: url(../img/block-contact/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 150px;
}

.block-contact {
  position: relative;
  z-index: 1;
}

.block-contact .block-contact-wrap {
  background: #ffffff;
  padding: 40px 15px 90px;
  margin: -40px 0;
}

.block-contact .block-contact-wrap .title h5 {
  text-align: center;
  font-size: 49px;
  color: #736f72;
  font-family: 'SourceSansPro-Semibold';
  line-height: 1.1;
}

.block-contact .block-contact-wrap .title p {
  margin: 40px auto 0;
  width: 88%;
  color: #999999;
  font-size: 17px;
  font-weight: 1.8em;
}

.block-contact .block-contact-wrap .map {
  margin-top: 40px;
  width: 100%;
  height: 350px;
}

.block-contact .block-contact-wrap .map iframe {
  width: 100%;
  height: 100%;
}

.block-contact .block-contact-wrap .contact-wrap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-contact .block-contact-wrap .contact-wrap .block {
  width: 49%;
}

.block-contact .block-contact-wrap .contact-wrap .block h5 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'SourceSansPro-Semibold';
  color: #6E6E6E;
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.block-contact .block-contact-wrap .contact-wrap .block p {
  width: 88%;
  color: #999999;
  line-height: 1.8em;
  font-size: 17px;
}

.block-contact .block-contact-wrap .contact-wrap .block .contact-content {
  margin-top: 20px;
}

.block-contact .block-contact-wrap .contact-wrap .block .contact-content p {
  width: 100%;
  font-size: 14px;
}

.block-contact .block-contact-wrap .contact-wrap .block .contact-content .links p a {
  color: #1B242F;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-contact .block-contact-wrap .contact-wrap .block .contact-content .links p a:hover {
  text-decoration: underline;
}

.block-contact .block-contact-wrap .contact-wrap .block form {
  margin-top: 50px;
}

.block-contact .block-contact-wrap .contact-wrap .block form input {
  border: 1px solid #999999;
  width: 100%;
  padding: 17px;
  margin-bottom: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-contact .block-contact-wrap .contact-wrap .block form input:hover {
  border-color: #ffc000;
}

.block-contact .block-contact-wrap .contact-wrap .block form input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.block-contact .block-contact-wrap .contact-wrap .block form input:-ms-input-placeholder {
  text-transform: uppercase;
}

.block-contact .block-contact-wrap .contact-wrap .block form input::-ms-input-placeholder {
  text-transform: uppercase;
}

.block-contact .block-contact-wrap .contact-wrap .block form input::placeholder {
  text-transform: uppercase;
}

.block-contact .block-contact-wrap .contact-wrap .block form input[type="text"] {
  height: 130px;
}

.block-contact .block-contact-wrap .contact-wrap .block form input[type="text"]::-webkit-input-placeholder {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.block-contact .block-contact-wrap .contact-wrap .block form input[type="text"]:-ms-input-placeholder {
  transform: translateY(-30px);
}

.block-contact .block-contact-wrap .contact-wrap .block form input[type="text"]::-ms-input-placeholder {
  transform: translateY(-30px);
}

.block-contact .block-contact-wrap .contact-wrap .block form input[type="text"]::placeholder {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.block-contact .block-contact-wrap .contact-wrap .block form .btn button {
  text-transform: uppercase;
  color: #ffffff;
  background: #ffc000;
  width: 135px;
  height: 45px;
  font-family: 'SourceSansPro-Semibold';
  font-size: 19px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-contact .block-contact-wrap .contact-wrap .block form .btn button:hover {
  background: #736f72;
}

.footer {
  background: #FFC000;
  padding: 85px 0 30px;
  text-align: center;
}

.footer p {
  color: #000000;
  font-size: 17px;
}

.footer p a {
  color: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1180px) {
  .container {
    max-width: 95%;
  }
  .fancybox img {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .block-main .block-main-wrap .main .main-title .main-title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .block {
    margin: auto;
    width: 70%;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .left {
    text-align: center;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .right {
    margin-top: 50px;
  }
  .block-main .block-main-wrap .main .main-footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main .block-main-wrap .main .main-footer-wrap .block {
    margin: auto;
    width: 70%;
  }
  .block-main .block-main-wrap .main .main-footer-wrap .right {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1085px) {
  .block-about .block-about-wrap .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-about .block-about-wrap .block .img {
    margin: auto;
  }
  .block-about .block-about-wrap .block .content {
    margin: 50px auto 0;
    text-align: center;
  }
  .block-about .block-about-wrap .block .content a {
    margin: 15px auto 0;
  }
  .block-about .block-about-wrap .block2 .img {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .block-main .block-main-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main .block-main-wrap .block {
    margin: auto;
  }
  .block-main .block-main-wrap .sidebar {
    width: 50%;
  }
  .block-main .block-main-wrap .main {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1085px) {
  .block-about .block-about-wrap .block .img {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .block-services .block-services-wrap .block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px 0 0 0;
  }
  .block-services .block-services-wrap .block .card {
    width: 40%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 940px) {
  .block-contact .block-contact-wrap .contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-contact .block-contact-wrap .contact-wrap .block {
    margin: auto;
    width: 70%;
  }
  .block-contact .block-contact-wrap .contact-wrap .block p {
    width: 100%;
  }
  .block-contact .block-contact-wrap .contact-wrap .address {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .header .header-nav .header-menu .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }
  .header .header-nav .header-menu .burger.active span {
    display: none;
  }
  .header .header-nav .header-menu .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .header-nav .header-menu .burger.active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .header-nav .header-menu .burger span {
    background: #736F72;
    height: 3px;
    width: 20px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-menu .burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #736F72;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-menu .burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #736F72;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.7);
    z-index: 9998;
    display: none;
    text-align: center;
    padding-top: 100px;
  }
  .header .header-nav .header-menu .menu a {
    display: block;
    margin: 20px 0;
    padding: 10px;
  }
  .header .header-nav .header-menu .menu a::before {
    display: none;
  }
  .header .header-nav .header-menu .menu.show {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .block-main .block-main-wrap .main {
    width: 100%;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .block {
    width: 100%;
  }
  .block-services .block-services-wrap .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-services .block-services-wrap .block .card {
    width: 60%;
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .block-about .block-about-wrap .block .img {
    width: 100%;
  }
  .block-about .block-about-wrap .block .img img {
    width: 100%;
  }
  .block-about .block-about-wrap .block .content {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .block-main .block-main-wrap .sidebar {
    width: 100%;
  }
  .block-main .block-main-wrap .main .main-footer-wrap .block {
    width: 100%;
  }
}

@media screen and (max-width: 465px) {
  .block-contact .block-contact-wrap .contact-wrap .block {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .info .title {
    font-size: 75px;
  }
  .info .title h1 {
    font-size: 70%;
  }
}

@media screen and (max-width: 450px) {
  .block-services .block-services-wrap .block .card {
    width: 90%;
  }
}

@media screen and (max-width: 445px) {
  .block-error .title {
    font-size: 252px;
  }
  .block-error .title h2 {
    font-size: 70%;
  }
}

@media screen and (max-width: 400px) {
  .block-services .block-services-wrap .block .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */