@charset "UTF-8";
@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("../fonts/SourceSansPro-Semibold.otf");
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro-Bold.otf");
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/SourceSansPro-Light.otf");
}

body {
  background: #f7f6f3;
  font-size: 14px;
  color: #939393;
  font-family: 'SourceSansPro-Regular';
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.header .header-nav {
  background: #ffffff;
  padding: 40px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .header-nav .logo h2 {
  text-transform: uppercase;
  font-size: 45px;
}

.header .header-nav .logo h2 a {
  color: #736F72;
}

.header .header-nav .logo h2 a span {
  color: #FFC000;
}

.header .header-nav .header-menu .burger {
  display: none;
}

.header .header-nav .header-menu .menu {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  right: 30px;
}

.header .header-nav .header-menu .menu a {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'SourceSansPro-Semibold';
  font-size: 16px;
  padding: 25px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  background: #FFC000;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-nav .header-menu .menu a:hover {
  background: #736F72;
}

.header .header-nav .header-menu .menu a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  background: #ffffff;
  height: 100%;
}

.header .header-nav .header-menu .menu a:last-of-type::before {
  display: none;
}

.info {
  background: url(../img/info/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 810px;
  margin: auto;
}

.info .title h1 {
  color: #ffffff;
  font-family: 'SourceSansPro-Bold';
  font-size: 75px;
  line-height: 1.1;
}

.info .title .btn {
  margin-top: 40px;
}

.info .title .btn button {
  text-transform: uppercase;
  background: #736f72;
  color: #ffffff;
  width: 195px;
  height: 55px;
  font-family: 'SourceSansPro-Bold';
  font-size: 22px;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
  z-index: 1;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  position: relative;
  overflow: hidden;
}

.info .title .btn button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.info .title .btn button:hover {
  color: #736f72;
}

.info .title .btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: -1;
}

.block-main {
  position: relative;
  z-index: 1;
}

.block-main .block-main-wrap {
  background: #ffffff;
  padding: 40px 15px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -40px;
  margin-bottom: -40px;
}

.block-main .block-main-wrap .sidebar {
  width: 25%;
  padding: 0 15px;
}

.block-main .block-main-wrap .sidebar .box .title h4 {
  font-family: 'SourceSansPro-Bold';
  background: #ffc000;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 10px 25px;
  line-height: 1.1;
}

.block-main .block-main-wrap .sidebar .box .title p {
  margin-top: 20px;
  font-family: 'SourceSansPro-Semibold';
  font-size: 18px;
  color: #898688;
  line-height: 1.1;
}

.block-main .block-main-wrap .sidebar .box .links {
  margin-top: 20px;
  margin-bottom: 30px;
}

.block-main .block-main-wrap .sidebar .box .links a {
  display: block;
  color: #8b8b8b;
  font-size: 16px;
  padding: 8px 0;
  border-bottom: 1px dashed #8b8b8b;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  position: relative;
  padding-left: 10px;
}

.block-main .block-main-wrap .sidebar .box .links a::before {
  content: '';
  font-family: 'fa-solid-900';
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffc000;
}

.block-main .block-main-wrap .sidebar .box .links a:hover {
  color: #ffc000;
}

.block-main .block-main-wrap .sidebar .box h4 {
  font-family: 'SourceSansPro-Bold';
  background: #ffc000;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 25px;
  line-height: 1.1;
}

.block-main .block-main-wrap .sidebar .box img {
  width: 100%;
}

.block-main .block-main-wrap .sidebar .box p {
  margin-top: 15px;
  line-height: 1.8em;
}

.block-main .block-main-wrap .sidebar .box a {
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #ffc000;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .sidebar .box a:hover {
  text-decoration: underline;
}

.block-main .block-main-wrap .sidebar .box a .fas {
  font-family: 'fa-solid-900';
  color: #736F72;
  margin-right: 5px;
}

.block-main .block-main-wrap .main {
  width: 66.6%;
  padding: 0 15px;
}

.block-main .block-main-wrap .main .main-title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

.block-main .block-main-wrap .main .main-title .title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}

.block-main .block-main-wrap .main .main-title .title h5 {
  font-size: 24px;
}

.block-main .block-main-wrap .main .main-title .title h5 a {
  color: #736F72;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .main .main-title .title h5 a:hover {
  color: #ffc000;
}

.block-main .block-main-wrap .main .main-title .title h6 {
  font-size: 22px;
  color: #ffc000;
  font-family: 'SourceSansPro-Light';
  font-weight: lighter;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block p {
  margin-bottom: 15px;
  line-height: 1.8em;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block a {
  display: inline-block;
  font-size: 15px;
  color: #ffc000;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block a:hover {
  text-decoration: underline;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .block a .fas {
  font-family: 'fa-solid-900';
  color: #736F72;
  margin-right: 5px;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .left {
  width: 40%;
}

.block-main .block-main-wrap .main .main-title .main-title-wrap .right {
  width: 60%;
}

.block-main .block-main-wrap .main .main-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-main .block-main-wrap .main .main-footer-wrap .block {
  width: 47%;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .icon .fas {
  font-family: 'fa-solid-900';
  width: 50px;
  height: 45px;
  background: #736F72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffc000;
  font-size: 25px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc {
  margin-left: 10px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h5 {
  font-size: 24px;
  line-height: 1.1;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h5 a {
  color: #736F72;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h5 a:hover {
  color: #ffc000;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .title .desc h6 {
  margin-top: 10px;
  color: #ffc000;
  font-size: 22px;
  font-family: 'SourceSansPro-Light';
  font-weight: lighter;
  line-height: 1.1;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content {
  margin-top: 25px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content img {
  width: 100%;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content p {
  margin-top: 15px;
  line-height: 1.8em;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content a {
  display: inline-block;
  font-size: 15px;
  color: #ffc000;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  margin-top: 15px;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content a:hover {
  text-decoration: underline;
}

.block-main .block-main-wrap .main .main-footer-wrap .block .content a .fas {
  font-family: 'fa-solid-900';
  color: #736F72;
  margin-right: 5px;
}

.footer {
  background: #FFC000;
  padding: 85px 0 30px;
  text-align: center;
}

.footer p {
  color: #000000;
  font-size: 17px;
}

.footer p a {
  color: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1180px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 1100px) {
  .block-main .block-main-wrap .main .main-title .main-title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .block {
    margin: auto;
    width: 70%;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .left {
    text-align: center;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .right {
    margin-top: 50px;
  }
  .block-main .block-main-wrap .main .main-footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main .block-main-wrap .main .main-footer-wrap .block {
    margin: auto;
    width: 70%;
  }
  .block-main .block-main-wrap .main .main-footer-wrap .right {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .block-main .block-main-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main .block-main-wrap .block {
    margin: auto;
  }
  .block-main .block-main-wrap .sidebar {
    width: 50%;
  }
  .block-main .block-main-wrap .main {
    margin-top: 50px;
  }
}

@media screen and (max-width: 850px) {
  .header .header-nav .header-menu .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }
  .header .header-nav .header-menu .burger.active span {
    display: none;
  }
  .header .header-nav .header-menu .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .header-nav .header-menu .burger.active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .header-nav .header-menu .burger span {
    background: #736F72;
    height: 3px;
    width: 20px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-menu .burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #736F72;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-menu .burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #736F72;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.7);
    z-index: 9998;
    display: none;
    text-align: center;
    padding-top: 100px;
  }
  .header .header-nav .header-menu .menu a {
    display: block;
    margin: 20px 0;
    padding: 10px;
  }
  .header .header-nav .header-menu .menu a::before {
    display: none;
  }
  .header .header-nav .header-menu .menu.show {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .block-main .block-main-wrap .main {
    width: 100%;
  }
  .block-main .block-main-wrap .main .main-title .main-title-wrap .block {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .block-main .block-main-wrap .sidebar {
    width: 100%;
  }
  .block-main .block-main-wrap .main .main-footer-wrap .block {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .info .title {
    font-size: 75px;
  }
  .info .title h1 {
    font-size: 70%;
  }
}
/*# sourceMappingURL=style.css.map */