@media screen and ( max-width: 1180px )
  .container 
    max-width: 95%  
  .fancybox 
    & img 
      width: 100%
@media screen and ( max-width: 1100px )
  .block-main 
    & .block-main-wrap 
      justify-content: 
      & .main 
        & .main-title 
          & .main-title-wrap
            flex-direction: column 
            & .block 
              margin: auto 
              width: 70%
            & .left 
              text-align: center
            & .right 
              margin-top: 50px  
        & .main-footer-wrap
          flex-direction: column 
          & .block 
            margin: auto
            width: 70%
          & .right 
            margin-top: 50px 
@media screen and ( max-width: 1085px )
  .block-about 
    & .block-about-wrap
      & .block 
        flex-direction: column 
        & .img 
          margin: auto 
          width: 
        & .content 
          margin: 50px auto 0 
          text-align: center
          & a 
            margin: 15px auto 0 
      & .block2 
        & .img
          margin-top: 50px 
@media screen and ( max-width: 1050px )
  .block-main 
    & .block-main-wrap 
      flex-direction: column 
      & .block 
        margin: auto
      & .sidebar 
        width: 50%
      & .main 
        margin-top: 50px 
@media screen and ( max-width: 1085px )
  .block-about 
    & .block-about-wrap
      & .block 
        & .img 
          width: 50%
@media screen and ( max-width: 1000px )
  .block-services
    & .block-services-wrap
      & .block 
        flex-wrap: wrap
        justify-content: space-around
        margin: 20px 0 0 0
        & .card 
          width: 40%
          margin-top: 50px 
@media screen and ( max-width: 850px )
  .header 
    & .header-nav
      & .header-menu 
        & .burger 
          display: flex 
          align-items: center
          justify-content: flex-end
          width: 30px 
          height: 20px
          position: relative 
          cursor: pointer
          z-index: 9999
          &.active span 
            display: none 
          &.active::before 
            transform: rotate(45deg)
          &.active::after 
            top: 0
            transform: rotate(-45deg)
          & span 
            background: #736F72
            height: 3px 
            width: 20px 
            transition: .3s linear 
          &::before
            content: ''
            position: absolute
            width: 30px 
            height: 3px 
            background: #736F72
            top: 0
            transition: .3s linear 
          &::after
            content: ''
            position: absolute
            width: 30px 
            height: 3px 
            background: #736F72
            bottom: 0
            transition: .3s linear  
        & .menu 
          position: fixed
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: rgba(#121212,.7)
          z-index: 9998
          display: none 
          text-align: center
          padding-top: 100px 
          & a 
            display: block
            margin: 20px 0 
            padding: 10px 
            &::before
              display: none 
          &.show 
            display: block 
@media screen and ( max-width: 650px )
  .block-main 
    & .block-main-wrap 
      & .main 
        width: 100%
        & .main-title 
          & .main-title-wrap
            & .block 
              width: 100%
  .block-services
    & .block-services-wrap
      & .block 
        flex-direction: column 
        & .card 
          width: 60%
          margin: 50px auto 0 
@media screen and ( max-width: 600px )
  .block-about 
    & .block-about-wrap
      & .block 
        & .img 
          width: 100%
          & img 
            width: 100%
        & .content 
          width: 100%
@media screen and ( max-width: 540px )
  .block-main 
    & .block-main-wrap 
      & .sidebar 
        width: 100%
      & .main 
        & .main-footer-wrap 
          & .block 
            width: 100%
@media screen and ( max-width: 460px )
  .info 
    & .title 
      font-size: 75px 
      & h1 
        font-size: 70%
@media screen and ( max-width: 450px )
  .block-services
    & .block-services-wrap
      & .block 
        & .card 
          width: 90%
@media screen and ( max-width: 400px )
  .block-services
    & .block-services-wrap
      & .block 
        & .card 
          width: 100%